$gold-color: #927959;
$light-gold: #c4aa83;
$pink-color: #b6a7a7;
$grey-color: #444;
$white: #fff;
$bg-color: #F8F9FA;
$btn-grey: #adaaaa;
$pink: #D28279;
$beige: #d7cec0;
$brown: #bba383;
$sand: #ddd7ce;