@mixin flex-column {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

@mixin flex-row {
 display: flex;
 align-items: center;
 justify-content: center;
}

@mixin photo-frame {
 position: absolute;
 content: "";
 left: 5px;
 right: 5px;
 background-color: transparent;
 border: 1px solid $white;
}
